body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*Propiedad para que no haya desplazamiento Horizontal*/
  /*Evitar overflow de contenido*/
  overflow-x:hidden;
  /**/
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
/*//MOBILE*************************INICIO*********************************************/
@keyframes MoveUpDown {
  0%, 100% {
    bottom: -20px;
  }
  50% {
    bottom:-35px;
  }
}
/*Header Section****************INICIO**********************************/
.header {
	color: white;
	text-align:center;
	height: 75vh;
	padding-top: 15em;
}
.header h1 {
	font-size:60px;
	line-height:1em;
	letter-spacing:0.01em;
}
.header p {
	font-size: 26px;
	font-family: Kameron, regular;
}
.arr {
	color: white;
	padding-top: 6em;
	padding-bottom: 9em;
	font-size: 16px;
    text-align:center;
	line-height: 1;
}
#arrow {
	font-family: Kameron, regular;
	font-size: 1.1em;
}
#ok {
	animation: MoveUpDown 1s linear infinite;
	position:absolute;
	left:47%;
}
/*Header Section*****************FIN******************************/
.imags {
	padding-bottom: 2em;
	width:25em;
}
.media {
	display:grid;
}
.vidios video {
	width:100%;
	margin:0 auto;
	padding-bottom:2em;
}
.webi {
	margin-bottom:3em;
}
/*Preft*************************INICIO********************************/
.preft {
	color: white;
	font-family: Kameron, regular;
	line-height: 1.2em;
	padding-top: 18em;
	font-weight: 400;
	width: 80%;
	margin: 0 auto;
}
.preftglow {
	color: white;
	font-family: Kameron, regular;
	line-height: 1.2em;
	padding-top: 18em;
	font-weight: 400;
	width: 80%;
	margin: 0 auto;
}
.preftglow h1 {
	font-size:3em;
	line-height: 1.2em;
	padding-top:.3em;
	text-align:center;
}
/*Preft************************FIN*********************************/
	.carruvids {
		padding: 2.5em;
	}
	.results {
		padding-bottom:2em;
		width:100%;
	}
	a.animated-button {
		color: black;
		font-size: 1.2em;
		font-weight:750;
		cursor: pointer;
		display: block;
		width: 3.8em;
		border-radius: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
		margin: 0 auto;
		position: relative;
		border: 2px solid black;
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	a.animated-button:hover {
		color: white !important;
		background-color: black;
		text-shadow: none;
	}
	a.animated-button:hover:before {
		bottom: 0%;
		top: auto;
		height: 100%;
	}
	a.animated-button:before {
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		height: 0px;
		width: 100%;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: black;
		transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	/*DEV BUTTON */
	.animated-buttondev {
		color: white;
		font-size: 1.2em;
		font-weight:750;
		cursor: pointer;
		display: block;
		width: 3.8em;
		border-radius: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
		margin: 0 auto;
		position: relative;
		border: 2px solid white;
		transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	}
	.animated-buttondev:hover {
		color: black !important;
		background-color: white;
		text-shadow: none;
	}
	.job2 {
		padding-bottom:5em;
		padding-top:2em;
	}
.job, .job2 {
	background:white;
	color: black;
}
.job3 {
	background: black;
	color: white;
}
.job h1, .job2 h1, .job3 h1 {
	text-align:left;
	font-size:2em;
	padding-top:1em;
	padding-left:1em;
	padding-bottom:0.3em;
}
.job h3, .job2 h3, .job3 h3{
	font-size:1.5em;
 letter-spacing:.04em;
	line-height:1em;
	text-align:left;
	font-family: Kameron, regular;
	font-weight:800;
	padding-top:1em;
	padding-bottom:0.5em;
	padding-left:1.7em;
}
.job p, .job2 p, .job3 p {
	padding:2.6em;
	padding-top:0;
	line-height:1.15;
	text-align: justify;
	font-family: Kameron, regular;

}
h1{
	font-family: 'Major Mono Display', monospace;
	font-size:inherit;
}
/*FOOTER*/
	.footer {
		padding: 0;
		color: white;
		position: absolute;
		left: 26%;
		top: 33.7%;
		line-height: 0;
	}
	.footer h1 {
		font-size:2.5em;
		font-family: 'Major Mono Display', monospace;
	}
	.footer h3 {
		font-family: Kameron, bold;
		font-size:2em;
	}
	.social li{
		display:grid;
		grid-template-columns:33% 33% 33%;
		margin: 0 auto;
	}
	.social ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	 }
 .rea {
 	display:grid;
 	grid-template-columns: 33% 33% 33%;
 	justify-content: center;
 }
 #ig {
 	padding:1em;
 }
  #fb {
 	padding:1em;
 }
  #tw {
 	padding:1em;
 }

 #ig:hover {
 	background: rgba(214,55,255,1);
 	border-radius:50%;
 }
 #fb:hover {
 	background: rgba(87,80,255,1);
 	border-radius:50%;
 }
 #tw:hover {
 	background: rgba(16,237,255,1);
 	border-radius:50%;
 }
/*FOOTER*/

/*DESKTOP*************************INICIO***************************************/
@media (min-width: 800px) {
	.header {
		padding-top: 17em;
	}
	.arr {
		padding-top: 6em;
	}
	.job, .job2, .job3 {
		width:100%;
		margin: 0 auto;
	 padding-bottom:1em;
	 padding-top:1em;
	 margin-right: 5em;
	}
	.job h1, .job2 h1, .job3 h1 {
		padding-left: 30%;
		font-size:2rem;
	}
	.job h3, .job2 h3, .job3 h3 {
		font-family: Kameron, regular;
		font-weight: 800;
		padding-top:3.2em;
		text-align:right;
		z-index:1079;
	}
	.job p, .job2 p, .job3 p {
		padding:0;
		text-align:right;
		width:100%;
	}
	.preft {
		padding-top: 14em;
		font-size:20px;
		width:30%;
		margin:0 auto;
	}
	.preftglow h1 {
		padding-top:.2em;
		font-weight:500;
	}
	#ok {
		left:49%;
	}
	.results {
		width:100%;
		margin: 0 auto;
		padding-bottom:4em;
	}
	.vidios video {
		width:80%;
		margin:0 auto;
		padding-bottom:.5em;
		text-align:none;
	 position: center;
	}
	.imags {
		margin-top:.2em;
		width:41.2vw;
	 padding-bottom:1em;
	}
	.item {
		display: grid;
		grid-template-columns: 10% 15% 52% 11%;
		grid-column-gap: 35px;
		grid-row-gap: 4px;
		justify-items: stretch;
		align-items: stretch;
		margin: 0 auto;
	}
	#carruvids {
		padding: 0;
		width:80%;
		height: auto;
	}
	.media {
		padding-top:5em;
		text-align:left;
		height:auto;
	}
	a.animated-button{
		margin-top:2em;
	}
	.footer {
	text-align:center;
	padding-top:2.5em;
	display:grid;
	position: absolute;
	left: 43%;
	}
	.footer h1 {
		font-size: 3.5rem;
	}
	.footer h3 {
		font-size:2rem;
		font-family: Kameron, bold;
	}
	.footer p {
		font-size:1.4em;
	 font-family: Kameron, regular;
		margin-bottom:1.5em;
	}
	.social {
		padding-top:0.8em;
	}
	.rea {
	 text-align: right;
	}
	.webi {
	text-align:right;
}
}
/*DESKTOP*/


/*DESKTOP-BigScreens*************************INICIO***************************************/
@media(min-width: 1650px) {
	.header {
		padding-top: 23em;
	}
	.arr {
		padding-top: 9em;
	}
	.preftglow h1{
		padding-top: 12em;
		font-size:3em;
	}
	.item {
		grid-template-columns: 10% 16% 52% 11%;
}
}
/*DESKTOP-BigScreens*************************FIN***************************************/

